.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 24px 60px;
  min-height: 100vh;
}

.h1 {
  font-family: var(--font-header);
}
.h2 {
  font-family: var(--font-text);
}
.h3 {
  font-family: var(--font-header);
}

/* Mobile */
@media (max-width: 576px) {
  .main {
    padding: 80px 16px 40px;
  }
}